.assignee-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 35px;
    max-width: 35px;
}

.profile-image{
    height: 100%;
    width: 100%;
    border: 2px dotted #A9B388;
    border-radius: 100%;
}

.profile-image:hover{
    border-color: #5F6F52;

}